{{>head}}
{{>navbar}}

<div class="row">

    <div class="col-8">
        <h1>Javascript</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum impedit, iure sed ullam itaque tempora? Fugiat nostrum, voluptatum sequi quod tenetur provident repellat nihil dolorem quia expedita maxime quos ratione.
        </p>
    </div>

    <div class="col-4">
        <img src='assets/img/coding.jpg' class="img-thumbnail" alt="img">
    </div>
</div>
{{>footer}}